<!DOCTYPE html>
<html lang="en" dir="ltr" style="overflow-y: auto;">
  <head>
    <title>Trackmania Leaderboard | nekz.me</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <meta name="theme-color" content="#000000" />
    <meta property="og:site_name" content="nekz.me/trackmania" />
    <meta property="og:type" content="object" />
    <meta property="og:title" content="Trackmania Leaderboard" />
    <meta property="og:url" content="https://nekz.me/trackmania" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
  </head>

  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-row>
            <v-col>
              <v-row justify="center" style="padding-left: 20px; padding-right: 20px;">
                <v-col cols="12" sm="6" md="3" lg="4" xl="4">
                  <v-img
                    :src="mapImage"
                    aspect-ratio="7"
                    style="opacity: 1; border-radius: 10px; box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.8);"
                  >
                    <template v-slot:placeholder>
                      <v-row class="fill-height ma-0" align="center" justify="center">
                        <v-progress-circular indeterminate color="primary"></v-progress-circular>
                      </v-row>
                    </template>
                  </v-img>
                </v-col>
              </v-row>
              <v-row justify="center" style="padding-left: 20px; padding-right: 20px;">
                <v-col cols="12" sm="12" md="3" lg="2" xl="3">
                  <v-select
                    v-model="campaign"
                    :items="campaigns"
                    item-text="name"
                    item-value="name"
                    label="Campaign"
                    hide-details
                    @change="updateScores"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="12" md="3" lg="2" xl="1">
                  <v-select
                    v-model="track"
                    :items="tracks"
                    label="Track"
                    hide-details
                    @change="updateScores"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="12" md="3" lg="2" xl="1">
                  <v-autocomplete
                    v-model="zoneType"
                    :items="zoneTypes"
                    item-text="name"
                    item-value="zoneId"
                    label="Zone"
                    hide-details
                    return-object
                  ></v-autocomplete>
                </v-col>
              </v-row>
              <v-row justify="center" style="padding-left: 20px; padding-right: 20px;">
                <v-col cols="12" sm="12" md="9" lg="6" xl="5">
                  <v-data-table
                    :headers="headers"
                    :items="filteredScores"
                    :footer-props="{'items-per-page-options': [10, 100, 1000]}"
                    :loading="scores.length === 0"
                  >
                    <template v-slot:item.score="{ item }">
                      {{ formatScore(item.score) }}
                    </template>
                  </v-data-table>
                  <br />
                  <v-tooltip bottom open-delay="500">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        v-bind="attrs"
                        v-on="on"
                        icon
                        color="primary"
                        :disabled="track === '1'"
                        @click="previousTrack"
                      >
                        <v-icon>mdi-arrow-left</v-icon>
                      </v-btn>
                    </template>
                    <span>Previous Track</span>
                  </v-tooltip>
                  <v-tooltip bottom open-delay="500">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        v-bind="attrs"
                        v-on="on"
                        icon
                        color="primary"
                        :disabled="track === tracks.length.toString()"
                        @click="nextTrack"
                      >
                        <v-icon>mdi-arrow-right</v-icon>
                      </v-btn>
                    </template>
                    <span>Next Track</span>
                  </v-tooltip>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-tooltip left>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-bind="attrs" v-on="on" fixed fab bottom right color="primary" @click="toggleDarkTheme">
                <v-icon v-if="!$vuetify.theme.dark">mdi-lightbulb-outline</v-icon>
                <v-icon v-else="$vuetify.theme.dark">mdi-lightbulb</v-icon>
              </v-btn>
            </template>
            <span>Toggle light/dark theme</span>
          </v-tooltip>
        </v-main>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      new Vue({
        el: '#app',
        vuetify: new Vuetify({
          theme: { dark: localStorage.getItem('dark-theme') === 'true' },
        }),
        data() {
          return {
            headers: [
              {
                align: 'start',
                text: 'Player',
                value: 'displayName',
                sortable: false,
              },
              {
                align: 'start',
                text: 'Zone',
                value: 'zoneName',
                sortable: false,
              },
              {
                align: 'end',
                text: 'Score',
                value: 'score',
                sortable: false,
              },
            ],
            scores: [],
            campaigns: [
              {
                name: 'Summer 2020',
                path: 'summer2020',
                route: 'Summer-2020',
                tracks: Array(25)
                  .fill()
                  .map((_, i) => `${i + 1}`),
              },
            ],
            campaign: 'Summer 2020',
            track: '1',
            zones: [],
            zoneTypes: [],
            zoneType: {},
            search: '',
          };
        },
        mounted() {
          const paths = document.location.hash.slice(1).split(/\//g);

          if (paths.length === 1) {
            const campaignName = paths[0].toLowerCase();
            const campaign = this.campaigns.find(({ path }) => path === campaignName);

            if (campaign) {
              this.campaign = campaign.name;
            }
          } else if (paths.length === 2) {
            const campaignName = paths[0].toLowerCase();
            const campaign = this.campaigns.find(({ path }) => path === campaignName);

            if (campaign) {
              this.campaign = campaign.name;

              const trackName = paths[1];
              if (campaign.tracks.find((track) => track === trackName)) {
                this.track = trackName;
              }
            }
          }

          const zones = 'https://raw.githubusercontent.com/NeKzor/nekzor.github.io/master/trackmania/zones.json';
          fetch(zones)
            .then((res) => res.json())
            .then((zones) => {
              this.zones = zones.data;

              const world = this.zones.find((zone) => zone.parentId === null);

              const continents = this.zones
                .filter((zone) => zone.parentId === world.zoneId)
                .map((zone) => ({ ...zone, index: 1 }));

              const continentsIds = continents.map((zone) => zone.zoneId);

              const countries = this.zones
                .filter((zone) => continentsIds.includes(zone.parentId))
                .map((zone) => ({ ...zone, index: 2 }));

              this.zoneTypes = [{ ...world, index: 0 }, ...continents, ...countries];
              this.zoneType = world;

              this.updateScores();
            });
        },
        computed: {
          filteredScores() {
            return this.scores && this.zoneType
              ? this.scores.filter((score) => score.zone.filter((zone) => zone.zoneId === this.zoneType.zoneId).length)
              : [];
          },
          tracks() {
            return this.campaigns.find(({ name }) => name === this.campaign).tracks;
          },
          mapImage() {
            return `https://raw.githubusercontent.com/NeKzor/nekzor.github.io/master/trackmania/images/summer2020/${this.track}.webp`;
          },
        },
        methods: {
          updateScores() {
            this.scores = [];

            const campaign = this.campaigns.find(({ name }) => name === this.campaign);
            if (!campaign) {
              return;
            }

            const leaderboard = 'https://raw.githubusercontent.com/jonese1234/Trackmania-Leaderboard/master/';
            const countryZone = 2;

            fetch(`${leaderboard}${campaign.route}/${this.track}/latest.json`)
              .then((res) => res.json())
              .then((scores) => {
                this.scores = scores.tops[0].top.map((score) => {
                  const zone = this.findZone(score.zoneId);
                  return {
                    ...score,
                    zone,
                    zoneName: zone[countryZone].name,
                  };
                });
              });
          },
          findZone(zoneId) {
            const result = [];

            for (const zone of this.zones) {
              if (zone.zoneId === zoneId) {
                if (zone.parentId !== null) {
                  result.push(...this.findZone(zone.parentId));
                }
                result.push(zone);
              }
            }

            return result;
          },
          previousTrack() {
            const tracks = this.tracks;
            const curIndex = tracks.indexOf(this.track);
            this.track = tracks[curIndex - 1];

            this.updateScores();
          },
          nextTrack() {
            const tracks = this.tracks;
            const curIndex = tracks.indexOf(this.track);
            this.track = tracks[curIndex + 1];

            this.updateScores();
          },
          formatScore(score) {
            let msec = score % 1000;
            let tsec = Math.floor(score / 1000);
            let sec = tsec % 60;
            let min = Math.floor(tsec / 60);

            return (
              (min > 0 ? min + ':' : '') +
              (sec < 10 && min > 0 ? '0' + sec : sec) +
              '.' +
              (msec < 100 ? (msec < 10 ? '00' + msec : '0' + msec) : msec)
            );
          },
          toggleDarkTheme() {
            let dark = window.localStorage.getItem('dark-theme') !== 'true';
            window.localStorage.setItem('dark-theme', dark);
            this.$vuetify.theme.dark = dark;
          },
        },
      });
    </script>
  </body>
</html>
